/*
.alert-success {
    padding: 15px;
    padding-left: 40px;
    border-radius: 5px;
    font-family: sans-serif;
    color: white;
    background-color: green
}

.alert-warning {
    padding: 15px;
    padding-left: 40px;
    border-radius: 5px;
    font-family: sans-serif;
    color: black;
    background-color: yellow;
}

.alert-danger {
    padding: 15px;
    padding-left: 40px;
    border-radius: 5px;
    font-family: sans-serif;
    color: white;
    background-color: red;
}

.alert-info {
    padding: 15px;
    padding-left: 40px;
    border-radius: 5px;
    font-family: sans-serif;
    color: white;
    background-color: teal;
}
*/

/* the styles for the nav bar */
nav{
    background-color: rgb(189, 205, 221);
    font-family: Arial, Helvetica, sans-serif;
}
nav .navbar-brand {
    margin-left: 2vw;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav ul li {
    padding: 0 12px;
}
nav ul li a {
    text-align: center;
    padding: 1em 0;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

/* the styles for the labels and inputs */
label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}
input {
    width: 40%;
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
    display: inline-block;
    border: 1px solid #afafaf;
    border-radius: 3px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

/* the styles for the login page */
/*
.loginBody {
    background-color: rgb(224, 224, 224);
}
*/
.loginCont {
    margin: auto;
    margin-top: 5%;
    width: 40%;
    border-radius: 10px;
    border: 2px solid silver;
    background-color: white;
    overflow: scroll; 
    text-align: center;
    padding: 40px;
    padding-top: 20px;
    box-shadow: 0px 0px 8px #cccbcb;
}
.loginCenter {
    padding: 36px;
    padding-bottom: 1%;
}
.loginCenter div {
    display: block;
    box-sizing: border-box;
    padding: 20px 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}
.loginCenter div label {
    font-size: calc(13px + 0.6vw) !important;
    margin-left: auto;
    margin-right: auto;
}
.loginCenter input[type="text"], .loginCenter input[type="password"] {
    width: 90%;
    font-weight: 50;
}
.loginCenter [type="submit"] {
    width: 25%;
    border: 1px solid;
    border-radius: 15px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #51AC74;
}

/* the styles for the register page */
.regBody {
    padding: 20px 0 0 0;
}
.regCont {
    margin-left: 3%;
    margin-top: 2%;
    width: 50%;
    border: 2px solid silver;
    border-radius: 10px;
    overflow: scroll; 
    background-color: white;
    box-shadow: 0px 0px 8px #cccbcb;
    padding: 40px;
    padding-top: 20px;  
}
.regCont div {
    margin: 8px;
}
.regCont input {
    width: 50%;
}
.regCont label {
    font-size: 15px;
}
.regEmail {
    margin-top: 4% !important;
}
.regCont [type="submit"] {
    width: 30%;
    height: 40px;
    border: 1px solid;
    border-radius: 15px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #51AC74;
}

/* the styles for the home page */
.homeTitle {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    margin-top: 1.5%;
    margin-bottom: 1.8%;
}

/* the styles for the profile page */
.profileBody {
    padding: 20px 0 0 0;
}
.profileCont {
    margin-left: 3%;
    margin-top: 2%;
    width: 90%;
    border: 2px solid silver;
    border-radius: 10px;
    overflow: scroll; 
    background-color: white;
    box-shadow: 0px 0px 8px #cccbcb;
    padding: 40px;
    padding-top: 20px;  
}
.profile-edit {
    margin: 20px 0;
}
.profile-view {
    margin: 20px 40px;
}
.prof-view-btn {
    margin-left: 3%;
}
.prof-edit-btn {
    margin-bottom: 1.5%;
}
.profileCont label {
    font-size: 15px;
}
.profileCont .pwLabel {
    padding: 30px 0 5px 0;
    font-size: 130%;
    font-weight: bold;
    text-decoration-line: underline;
}
.profileCont input[type="submit"] {
    width: 20%
}

/* the styles for the create roles page */
.crBody {
    margin-top: 2%;
    padding-left: 3%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.crCont {
    padding-left: 1%;
}
.crCont input {
    width: 15%;
}
.crCont textarea {
    width: 40%
}

/* the styles for the list roles page */
.lrBody {
    margin-top: 2%;
    padding-left: 3%;
    padding-right: 3%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.lrCont input {
    width: 50%;
}
.lrCont input[type="submit"] {
    width: 10%;
}
.lrBody table {
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 4%;
}
.lrBody table th {
    padding-right: 15px;
}
.lrBody td input {
    width: 60%;
}

/* the styles for the assign roles page */
.arBody {
    margin-top: 2%;
    padding-left: 3%;
    padding-right: 3%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.arBody .tableHeader{
    font-family: Arial, Helvetica, sans-serif;
}
.arBody .assignTable{
    width: 50%;
}
.arCont-top input {
    padding-left: 1%;
    width: 10%;
}
.arCont-top input[name="username"] {
    width: 40%;
}
.arCont-bottom input {
    padding-left: 1%;
    width: 15%;
}

/* the styles for the create product page */
.cr-form {
    margin-top: 2%;
}
.whole-crProd-form {
    margin-top: 2%;
    margin-bottom: 3%;
}
.crProd_title {
    margin-bottom: 1%;
    margin-left: 2%;
    padding-top: 2% !important;
}
/*
.card {
    max-width: 90vw;
    padding: 0;
    border: none;
    border-radius: 0.5rem;
}
*/
.crProductTabs a.active {
    border-bottom: 2px solid #55c57a;
  }
.crProd-navlink {
    color: rgb(110, 110, 110);
    font-weight: 500;
}
.crProd-navlink:hover {
    color: #55c57a;
}
.crProductTabs .crProd-navlink.active {
    color: black;
    background-color: white !important;
    border-radius: 0.5rem 0.5rem 0 0;
    font-weight: 600;
}
.cr-tab-fetch .form-control {
    background-color: rgb(241, 243, 247);
    border: none;
    width: 90%; 
    margin-top: calc(30px + 0.3vw) !important;
    margin: 0 auto; 
    background-color: rgb(241, 243, 247);
    border: none;
}
.cr-tab-fetch input[type="submit"] {
    margin-left: 5%;
    margin-bottom: 3%;
    width: 8rem;
}
.cr-tab-create {
    padding-bottom: 1rem;
    margin-top: calc(15px + 0.3vw);
}
.cr-tab-create form {
    padding: 15px;
}
.cr-tab-create .form-label {
    margin-bottom: 0.8%;
    margin-left: 2%;
}
.cr-tab-create .form-control {
    width: 90%;
    margin: auto;
    margin-bottom: 1.5vw;
}
.cr-tab-create input[type="submit"] {
    margin-left: 2%;
    width: 10rem;
    font-size: large;
}

/* the styles for the home products page */

.all-products-container {
    max-width: 92vw;
    margin: 0 auto;
    margin-bottom: 3%;
}
.all-products-container .row > div:last-child input[type="number"] {
    width: 65%;
}
.all-products-container input[type="submit"] {
    width: 15%;
}


/* the styles for the list products page */

.list-products-container {
    max-width: 90vw;
    overflow-x: auto;
    margin: 0 auto;
    margin-bottom: 3%;
}
.list-products-title {
    background-color: transparent;
    padding: 12px;
    margin-bottom: 1vw;
    margin: 1vw;
}

.list-products-container .col select {
    margin-bottom: 11px !important;
}
.list-products-container .row > div:last-child input[type="number"] {
    width: 75%;
}
.list-products-container input[type="submit"] {
    width: 20%;
}
.list-products table {
    width: 100%;
    border-collapse: collapse;
    max-width: 100%;
    
}
.list-products th, .list-products td {
    padding: 6px; /*cells */
    white-space: nowrap; 
    overflow: scroll;
    max-width: 100px;
}
.list-products td div {
    overflow: auto;
    max-height: 40px;
}
.list-products th {
    background-color: #f5f5f5;
    font-weight: bold;
    color: #333;
    font-size: calc(7.5px + 0.5vw) !important;
}
.list-products tr th:hover {
    color: blue !important;
}
.list-products tr td:hover, .list-products tr a:hover {
    color: red !important;
}



/* the styles for the edit product page */
.editProd-form {
    margin-top: 2%;
    margin-bottom: 3%;
}
.editProd-form form {
    padding: 15px;
    padding-bottom: 30px;
    margin-bottom: 10%;
}
.editProd-back {
    margin-top: 2%;
}
.editProd_title {
    margin-left: 2%;
    padding-top: 3%;
    padding-bottom: 1%;
}
.editProd-form .form-label {
    margin-bottom: 0.2%;
    margin-left: 2%;
}
.editProd-form .form-control {
    background-color: rgb(241, 243, 247);
    border: none;
    width: 90%; 
    margin-top: calc(5px + 0.3vw) !important;
    margin-bottom: calc(10px + 0.9vw) !important;
    margin: 0 auto; 
    background-color: rgb(241, 243, 247);
    border: none;
}
.editProd-form input[type="submit"] {
    margin-left: 2%;
    font-size: large;
    width: 10rem;
}


/*
.cr-tab-create {
    padding-bottom: 1.3rem;
    margin-top: calc(30px + 0.3vw);
}
.cr-tab-create .form-label {
    margin-bottom: 0.8%;
    margin-left: 2%;
}
.cr-tab-fetch .form-control {
    background-color: rgb(241, 243, 247);
    border: none;
    width: 90%; 
    margin-top: calc(30px + 0.3vw) !important;
    margin: 0 auto; 
    background-color: rgb(241, 243, 247);
    border: none;
}
.cr-tab-fetch input[type="submit"] {
    margin-left: 5%;
    margin-bottom: 3%;
    width: 8rem;
}
.cr-tab-create form {
    padding: 15px;
}
.cr-tab-create .form-control {
    width: 90%;
    margin: auto;
}
.cr-tab-create input[type="submit"] {
    margin-left: 5%;
    width: 10rem;
}
*/



.viewProd-whole {
    margin: 20px;
}
.viewProd-back {
    margin: 1% 0 1.5% 0;
}
.viewProd-title {
    margin-bottom: 3%;
}
.viewProd-edit a {
    background-color: #0d6efd;
    border: #0d6efd;
}
.viewProd-return {
    margin-left: auto;
    z-index: 2;
}
.viewProd-delete {
    margin-top: -410px;
    margin-left: auto;
    z-index: 1;
}
.viewProd-delete a {
    background-color: #dc3545;
    border: #dc3545;
}



.oh-products-header {
    display: flex;
    align-items: center;
    background-color: transparent;
    padding: 12px;
    margin: 1vw 1vw 0 1vw;
}
.oh-products-remove {
    margin-left: 10px;
}
.oh-card-profile {
    margin-top: 5%;
}


.ad-products-header {
    display: flex;
    align-items: center;
    background-color: transparent;
    padding: 12px;
    margin: 1vw 1vw 0 1vw;
}
.ad-products-remove {
    margin-left: 10px;
}


.assignProd-usercontent {
    /* enable div scrolling */ 
    overflow: scroll; 
    height: 500px; 
    border: 1px rgb(206, 205, 205) solid; 
}
.assignProd-content {
    /* enable div scrolling */ 
    overflow: scroll; 
    height: 500px; 
    border: 1px rgb(206, 205, 205) solid; 
}


@media only screen and (max-width: 1200px) {
    .loginCenter input[type="submit"] {
        font-size: calc(10px + 0.5vw) !important;
    }
}

@media only screen and (max-width: 1090px) {
    .loginCenter input[type="submit"] {
        font-size: calc(10px + 0.2vw) !important;
    }
}

@media only screen and (max-width: 1000px) {
    .loginCenter input[type="submit"] {
        width: calc(10px + 10vw) !important;
        font-size: calc(10px + 0.2vw) !important;
    }
}
@media only screen and (max-width: 1000px) {
    .loginCont {
        width: calc(400px + 3vw) !important;
    }
}
@media only screen and (max-width: 500px) {
    .loginCont {
        width: calc(300px + 1vw) !important;
    }
}
@media only screen and (max-width: 300px) {
    .loginCont {
        width: calc(250px + 0.5vw) !important;
    }
}
@media only screen and (max-width: 250px) {
    .loginCont {
        width: calc(200px + 0.3vw) !important;
    }
}

